<section>
  <img src="assets/login/loginPageLogo.svg" alt="" />
  <div class="login-secton">
    <div class="field">
      <label class="description_text ">Phone Number</label>
      <br />
      <input
        type="text"
        class="input_box_bg_gradient header_text_color"
        placeholder="Enter Phone Number"
      />
    </div>
    <button class="header_text_color secondary_botton_gradient login" >Login</button>
    <button class="white primary_botton_gradient" (click)="skip()">
      Skip Login
    </button>
  </div>
</section>
