<Section class="event">
    <div class="heading">
        <h2 class="section_title header_text_color">Booked Events</h2>
        <!-- <select class="filtre">
            <option value="newest">newest</option>
            <option value="oldest">oldest</option>
        </select> -->
    </div>
    <div class="card" *ngFor="let event of bookings" (click)="bookingdetail(event.BookingId)">
        <div class="ticket-info" >
            <img src="assets/homepage/image.svg" alt="Event Image" class="event-image">
            <div class="event-details">
                <p class=" section_title name">{{event.name}}</p>
                <p class="paragraph_text contact ">Contact : {{ event.contact }}</p>
                <h3 class="section_title heading">{{ event.eventname }}</h3>
                <div class="row2">
                    <p class="paragraph_text header_text_color">{{ event.slabname }}</p>
                    <p class="paragraph_text header_text_color">{{ event.varientname }}</p>
                </div>
                <div class="row2">
                    <p class="paragraph_text header_text_color ticket green">₹{{ event.price }}</p>
                    <p class="paragraph_text header_text_color ticket">Tickets: {{ event.tickets }}</p>
                </div>
            </div>
        </div>
    </div>
    
</Section>


<!-- <app-booking-details  [bookingdata]="bookingdata"></app-booking-details> -->