<Section class="event">
    <div class="heading">
        <h2 class="section_title header_text_color">Booked Events</h2>
    
    </div>
    <div class="card" *ngFor="let event of bookings" (click)="bookingdetail(event.BookingId)">
        <div class="ticket-info" >
            <img [src]="event.image" alt="Event Image" class="event-image">
            <div class="event-details">
                <p class="section_title name">{{event.name}}</p>
                <p class="paragraph_text contact ">Contact : {{ event.contact }}</p>
                <h3 class="section_title heading">{{ event.eventname }}</h3>
                <p class="paragraph_text header_text_color">{{ event.slabname }}</p>
                <p class="paragraph_text header_text_color">Varient : {{ event.varientname }}</p>
            </div>
        </div> 
        
        <div class="row2">
            <span class="paragraph_text header_text_color green">Price ₹ {{ event.price }}</span>
            <span class="paragraph_text header_text_color">Tickets: {{ event.tickets }}</span>
        </div>       
    </div>      
</Section>




