<app-header-with-back [pageTitle]="catalogueForm.get('id')?.value != '' ? 'Edit Catalogue' : 'Add Catalogue'"></app-header-with-back>

<section>
  <form [formGroup]="catalogueForm">
  <div class="field">
    <label class="description_text">Catalogue Name</label>
    <br />
    <input
      type="text"
      class="input_box_bg_gradient header_text_color"
      placeholder="Enter Catalogue Name"
      formControlName="name"
    />
  </div>
</form>
  <div class="flex-space-between mb-10" *ngIf="catalogueForm.get('id')?.value">
    <p class="card-title header_text_color card-title font-size-14" > Category ({{categoryList?.length ?? 0}})</p>
    <div class="sm-btn" >
      <button class="card-btn white  primary_botton_gradient" (click)="addCategory()">Add Category</button>
    </div>
  </div>

  <div class="flex-space-between mb-5" *ngFor="let category of categoryList">
    <div class="card-size bg_color_gradient">
      <mat-accordion>
        <mat-expansion-panel
        [expanded]="panelOpenCategory.get(category.categoryId)"
        (opened)="panelOpenCategory.set(category.categoryId, true)"
        (closed)="panelOpenCategory.set(category.categoryId, false)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="header_text_color card-title font-size-18"
              >{{category.categoryName}}</mat-panel-title
            >
            <mat-panel-description>  <p class="card-title header_text_color font-size-14" > Subcategory ({{subCategoryList[category.categoryId]?.length ?? 0}})</p>

              </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="flex-space-between mb-10">
            <div class="items">
              <label class="uk-switch" >
                <input type="checkbox"  [checked]="category.active==true?true:false" (change)="updatedStatus(category)">
                <div class="uk-switch-slider" ></div>
              </label>
              
              <span><img src="assets/tax/edit.svg" (click)="editCategory(category)" alt="" /></span>
              <span><img src="assets/tax/delete.svg" (click)="deleteCategory(category)" alt="" /></span></div
          >
            <div>
              <button class="card-btn white  primary_botton_gradient" (click)="addSubCategory(category.categoryId)">Add SubCategory</button>
            </div>
          </div>
          <div class="flex-space-between mb-5" *ngFor="let subCategory of subCategoryList[category.categoryId]">
            <div class="card-size bg_color_gradient">
              <mat-accordion>
                <mat-expansion-panel
                [expanded]="panelOpenSubcategory.get(subCategory.subCategoryId)"
                (opened)="panelOpenSubcategory.set(subCategory.subCategoryId, true)"
                (closed)="panelOpenSubcategory.set(subCategory.subCategoryId, false)"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title class="header_text_color card-title font-size-18"
                      >{{subCategory.subCategoryName}}</mat-panel-title
                    >
                    <mat-panel-description>
                      <p class="card-title header_text_color font-size-14">Donation Item ({{donationItemList[subCategory.subCategoryId]?.length ?? 0}})</p>
                      </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="flex-space-between mb-10" >
                    <div class="items">

                      <label class="uk-switch" >
                        <input type="checkbox"   [checked]="subCategory.active==true?true:false" (change)="updatedStatusOfSubcategory(subCategory)" >
                        <div class="uk-switch-slider" ></div>
                      </label>
                      
                      
                      <span><img src="assets/tax/edit.svg" alt="" (click)="editSubCategory(subCategory)" /></span> 
                      <span
                        ><img src="assets/tax/delete.svg" alt="" (click)="deleteSubcategory(subCategory)"
                      /></span></div
                  >
                    <div>
                      <button class="card-btn white  primary_botton_gradient" (click)="addDonationItem(subCategory.categoryId,subCategory.subCategoryId)">Add Item</button>
                      
                    </div>
                  </div>
                  <div  *ngFor="let donationItem of donationItemList[subCategory.subCategoryId]">
                    <div class="card flex-space-between mb-5" *ngIf="donationItemIsActive(donationItem.itemId)">
                    <div class="header_text_color word-wrap text-overflow-ellipsis card-title font-size-18 " >{{getNameOfItem(donationItem.itemId)}}</div>
                    <div class="items" >
                      <span><img src="assets/tax/edit.svg" alt="" (click)="editDonationItemDetail(donationItem)"/></span>
                      <span><img src="assets/tax/delete.svg" (click)="removeDonationItem(donationItem)" alt="" /></span>
                    </div>
                  </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  
</section>
<div class="twin-btn fix-below">
  <lib-cancel-btn (click)="cancel()" [btnName]="'Cancel'"></lib-cancel-btn>
  <lib-save-btn (click)="addCatalogue()" [btnName]="'Save'" ></lib-save-btn>
</div>
