section{
    padding-top: 70px;
    .notlogin{
        margin-top: 30%;
        p{
           font-size: 18px;
           text-align: center;
           
        }
        button{
            background: linear-gradient(90.32deg, #2F15AA 0.28%, rgba(47, 21, 170, 0.8) 47.84%, rgba(47, 21, 170, 0.4) 99.72%);
            width: 90%;
            height: 50px;
            color: white;
            border: none;
            border-radius: 30px;
            margin-top: 3rem;
            margin-left: 1rem;
            
        }
    }

}
