<app-header-with-back [pageTitle]="'Contact Us'"></app-header-with-back>
<section class="contact-section">
  <div class="image">
    <img src="assets/contact/contactimage.svg" alt="Contact Image">
  </div>
  <div class="detail">
    <div class="row1">
      <img src="assets/contact/location.svg" alt="Location">
      <span>3432 Divi, Sector 65, Noida</span>
    </div>
    <div class="row1">
      <img src="assets/contact/call.svg" alt="Call">
      <span>5464- 4556677889</span>
    </div>
    <div class="row1">
      <img src="assets/contact/gmail.svg" alt="Email">
      <span>supportdfghj.com</span>
    </div>
    <div class="row1">
      <img src="assets/contact/web.svg" alt="Website">
      <span>Kashisummit_fyi.com</span>
    </div>
  </div>
  <div class="icon">
    <img src="assets/contact/fb.svg" alt="Facebook">
    <img src="assets/contact/insta.svg" alt="Instagram">
    <img src="assets/contact/whatsapp.svg" alt="WhatsApp">
  </div>
</section>
