<app-header-with-back [pageTitle]="'Contact Us'"></app-header-with-back>
<section class="contact-section">
  <div class="image">
    <img src="assets/contact/contactimage.svg" alt="Contact Image">
  </div>
  <div class="detail">
    <div class="row1">
      <img src="assets/contact/location.svg" alt="Location">
      <span>Varanasi Uttar Pradesh</span>
    </div>
    <div class="row1">
      <img src="assets/contact/call.svg" alt="Call">
      <span>8418846013</span>
    </div>
    <div class="row1">
      <img src="assets/contact/gmail.svg" alt="Email">
      <span>support&commat;kashisummit.com</span>
    </div>
    <div class="row1">
      <img src="assets/contact/web.svg" alt="Website">
      <span>https://kashisummit.com</span>
    </div>
  </div>
  <div class="icon">
    <img src="assets/contact/fb.svg" alt="Facebook">
    <a href="https://www.instagram.com/searicsummitkashi24/"><img src="assets/contact/insta.svg" alt="Instagram"></a>
    <a  href="https://wa.me/8418846013"><img src="assets/contact/whatsapp.svg" alt="WhatsApp"></a>
  </div>
</section>
