<app-header-with-back [pageTitle]="'Contact Us '"></app-header-with-back>
<section>
    <div class="image">
        <img src="assets/contact/contactimage.svg">
    </div>
    <div class="detail">
    <div class="row1">
        <img src="assets/contact/location.svg">
        <span>3432 Divi , Sector 65 , Noida</span>
    </div>
    <div class="row1">
        <img src="assets/contact/call.svg">
        <span>5464- 4556677889</span>
    </div>
    <div class="row1">
        <img src="assets/contact/gmail.svg">
        <span>supportfdfyi.com</span>
    </div>
    <div class="row1">
        <img src="assets/contact/web.svg">
        <span>Kashisummit_fyi.com</span>
    </div>
    </div>
    <div class="icon">
        <img src="assets/contact/fb.svg">
        <img src="assets/contact/insta.svg">
        <img src="assets/contact/whatsapp.svg">
        

    </div>
</section>