<app-header-with-back [pageTitle]="'Payment '"></app-header-with-back>

<section class="container">
    <div class="confirmation-card">
        <img src="/assets/event-payment/paymentfailed.svg">
        <div class="payment-details">
            <h2 class="section_title">Payment Details</h2>
            <div class="paragraph_text detail">
                <p>{{bookingDetail['event'].eventName}} </p>
                <span>Kashi Summit 2024</span> 
            </div>
            <div class="paragraph_text detail">
                <p>Slab</p>
                <span>{{bookingDetail['slab'].name}}</span> 
            </div>
            <div class="paragraph_text detail">
                <p>Variant</p>
                <span>{{bookingDetail['variant'].name}}</span> 
            </div>
            <div class="paragraph_text detail">
                <p>Date</p>
                <span>{{bookingDetail['paymentDetail'].date}} & {{bookingDetail['paymentDetail'].time}} </span> 
            </div>
            <div class="paragraph_text detail">
                <p>Payment</p>
                <span>₹{{bookingDetail['paymentDetail'].totalPrice}}</span> 
            </div>
            <div class="paragraph_text detail_status red">
                <p>Status</p>
                <span>Unsuccessful</span> 
            </div>
         
        </div>
      
    </div>
</section>
<div class="button-done">
<button class="proceed-button" (click)="tryAgain()">Try Again</button>
</div>
