@media (min-width: 768px) {
    .login-page {
      display: none;
    }
    .errorpage {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
  }
  
  /* Media query to hide error page and show login page on mobile */
  @media (max-width: 767px) {
    .errorpage {
      display: none;
    }
    .login-page {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }