.head{
      border-bottom: 1px solid  #8d8c8c;
  .header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: normal;
    padding: 0px;
    padding-bottom: 0px;
    width: 92vw;
    padding-top: 20px;
    margin-left: 4vw;
    position: fixed;
    z-index: 100;
    background: white;
    border-bottom: 1px solid  #8d8c8c;
    nav{
      display: flex;
      gap: 20px;
      span{
        img{
          height: 25px;
          width: 25px;
        }
      }
    }
  
  }
}

