<app-header-with-back [pageTitle]="'Booking Details'"></app-header-with-back>

<section class="details">
    <div class="booking">
        <p class="card_title_text heading">Payment Details</p>

        <div class="event paragraph_text">
            <span class="field">Event</span>
            <span class="header_text_color">Kashi Summit 2024</span>
        </div>
        <div class="event paragraph_text">
            <span class="field">slab</span>
            <span class="header_text_color">Panchang Slab</span>
        </div>
        <div class="event paragraph_text">
            <span class="field">varient</span>
            <span class="header_text_color">couple</span>
        </div>
        <div class="event paragraph_text">
            <span class="field">Booking Member</span>
            <span class="header_text_color">Anuj Madhav</span>
        </div>
        <div class="event paragraph_text">
            <span class="field">Contact</span>
            <span class="header_text_color">9696969696</span>
        </div>
        <div class="event paragraph_text">
            <span class="field">Date</span>
            <span class="header_text_color">23/08/24 & 14:08</span>
        </div>
        <div class="event paragraph_text">
            <span class="field">Payment</span>
            <span class="header_text_color">11210</span>
        </div>
        <div class="eventpayment paragraph_text">
            <span class="field">Status</span>
            <span class="header_text_color">Successful</span>
        </div>
    </div>
    

    <div class="scroll">
        <div class="memberheading">
        <p class="card_title_text">Member Details</p>
        <button>Edit</button>

    </div>
        <div class="tabs">
          <div class="tab" [class.active]="selectedTab === 'description'" (click)="selectTab('description')">Member 1</div>
          <div class="tab" [class.active]="selectedTab === 'itinerary'" (click)="selectTab('itinerary')">Member 2</div>
        </div>
        <div class="content">
          <div *ngIf="selectedTab === 'description'">{{ descriptionContent }}</div>
          <div *ngIf="selectedTab === 'itinerary'">{{ itineraryContent }}</div>
        </div>
      </div>
    
</section>
