<div class="header">

    <div class="back-with-title header_text_color" (click)="back()">
    <img src="assets/header/back_button.svg" alt="" />

    <p class="krona-one-regular">{{ pageTitle }}</p>
    </div>
    <nav>
      <span>
        <img src="assets/header/bell_icon.svg" alt="" />
      </span>
  
      <a href="#offcanvas-usage" uk-toggle
        ><img src="assets/header/menu.svg" alt="" />
      </a>
    </nav>
  </div>
  
  <div id="offcanvas-usage" uk-offcanvas>
    <div class="uk-offcanvas-bar  white-bg">
      <button class="uk-offcanvas-close" type="button" uk-close></button>
  
      <h3>Title</h3>
  
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>
  