.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: normal;
    padding: 0px 20px ;

    .back-with-title{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    nav{
      display: flex;
      gap: 20px;
    }
  
  }
  hr{
    margin-left: 10%;
    height: 10px;
    width: 80vw;
  }
  
  