<section>
    <p class="header_text_color">Select City</p>
    <div class="form">
      <label for="citySelect">Select a city:</label>
      <br>
      <select id="citySelect" [(ngModel)]="selectedCityId" name="selectedCity">
        <option *ngFor="let city of cities" [value]="city.cityId
        ">
          {{ city.city }}
        </option>
      </select>
    </div>
  
    <div class="twin-btn pos-bottom">
      <lib-cancel-btn (click)="cancel()"></lib-cancel-btn>
      <lib-save-btn (click)="saveCity()"></lib-save-btn>
    </div>
  </section>
  