<app-header-with-back [pageTitle]="'Add Event'"></app-header-with-back>
<section>
  <div class="scroll">
    <div class="tabs">
      <div class="tab" [ngClass]="{ active: selected === 'details' }">
        Details
      </div>
      <div class="tab" [ngClass]="{ active: selected === 'itinerary' }">
        Itinerary
      </div>
      <div class="tab" [ngClass]="{ active: selected === 'slab' }">Slab</div>
      <!-- <div class="tab" [ngClass]="{ active: selected === 'city' }">city</div> -->
    </div>
  </div>
  <!-- detail form pannel -->
  <div class="container form1" *ngIf="'details' == pannel ? true : false">
    <form [formGroup]="eventForm">
      <div class="form-group">
        <label for="eventName">Event Name</label>
        <input type="text" class="event-name" formControlName="eventName" />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          id="description"
          name="description"
          formControlName="description"
        >
        </textarea>
      </div>
      <div class="dateset">
        <div class="form-group">
          <label>Start Date</label>
          <input type="date" formControlName="startDate" class="dataset1"     [min]="today"
          />
        </div>
        <div class="form-group">
          <label for="endDate">End Date</label>
          <input
            type="date"
            id="endDate"
            formControlName="endDate"
            class="dataset1"
            [min]="today"

          />
        </div>
      </div>
    </form>
    <div class="header">
      <label>Add Images (2:1 ratio)</label>
      <button type="button" (click)="triggerFileInput()">
        <img src="/assets/addevent/upload.svg" alt="" />
      </button>
      <input
        id="fileInput"
        type="file"
        (change)="addImage($event)"
        multiple
        accept="image/*"
        style="display: none"
      />
    </div>
    <div class="images-grid">
      <div
        *ngFor="let image of imagesArray.controls; let i = index"
        class="image-item"
      >
        <img [src]="image.value" alt="Uploaded Image" />

        <button type="button" class="remove-btn" (click)="removeImage(i)">
          &#10006;
        </button>
      </div>
    </div>
    <div class="buttonset fix-below">
      <button class="cancel-button" (click)="cancel('back')">cancel</button>
      <button class="next-button" (click)="nextpannel('itinerary')">
        Next
      </button>
    </div>
  </div>

  <!-- itinerary form pannel -->
  <div *ngIf="'itinerary' == pannel ? true : false">
    <form [formGroup]="itineraryForm">
      <ng-container formArrayName="activities">
        <div
          class="activity-form form1"
          *ngFor="let activity of activities.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="form-group1">
            <label for="activityName">Activity Name</label>
            <input
              id="activityName"
              type="text"
              formControlName="name"
              class="activity-name"
            />
          </div>
          <div class="form-group1">
            <label for="description">Description</label>
            <textarea
              id="description"
              name="description"
              formControlName="description"
            >
            </textarea>
          </div>
        
          
          <div class="form-group1">
            <label for="date">Date</label>
            <input
              id="date"
              type="date"
              formControlName="date"
              class="activity-name"
              [min]="today"
            />
          </div>
          <div class="dateset2">
            <div>
              <label for="startTime">Start Time</label>
              <input
                id="startTime"
                type="time"
                formControlName="startTime"
                class="dataset3"
              />
            </div>
            <div>
              <label for="endTime">End Time</label>
              <input
                id="endTime"
                type="time"
                formControlName="endTime"
                class="dataset3"

              />
            </div>
          </div>
          <div class="delete">
            <button
              class="delete-button"
              class="button"
              (click)="deleteActivity(i)"
            >
              Delete <img src="/assets/addevent/delete.svg" alt="" />
            </button>
          </div>
        </div>
        <button class="Add-btn" (click)="addActivity()">add Activity</button>
        <div class="lower-btn fix-below">
          <lib-cancel-btn
            [btnName]="'Cancel'"
            (click)="cancel('details')"
          ></lib-cancel-btn>
          <lib-save-btn
            [btnName]="'Next'"
            (click)="nextpannel('slab')"
          ></lib-save-btn>
        </div>
      </ng-container>
    </form>
  </div>

  <!-- slab form pannel -->

  <div *ngIf="'slab' == pannel ? true : false">
    <div class="">
      <form [formGroup]="slabAndVariantForm">
        <ng-container formArrayName="slabs">
          <div
            class=""
            *ngFor="let slab of slabs.controls; let i = index"
            [formGroupName]="i"
          >
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{
                      slab.get("slabId")?.value
                        ? slab.get("name")?.value
                        : "New Slab"
                    }}
                  </mat-panel-title>
                  <div class="icon">
                  <label class="uk-switch" *ngIf="slab.get('slabId')?.value">
                    <input
                      type="checkbox"
                      (change)="changeStatusOfSlab(slab)"
                      [checked]="slab.get('active')?.value"
                    />
                    <div class="uk-switch-slider"></div>
                  </label>
                  <img
                    src="/assets/addevent/delete.svg"
                    (click)="removeSlab(i, slab)"
                    alt=""
                  />
                </div>
                </mat-expansion-panel-header>
                <div class="slab-form">
                  <div class="">
                    <label>Slab Name</label>
                    <input
                      type="text"
                      formControlName="name"
                      class="event-name"
                    />
                  </div>
                  <div class="">
                    <label>Description</label>
                    <textarea
                      id="description"
                      name="description"
                      formControlName="description"
                    ></textarea>
                  </div>
                  <div class="dateset">
                    <div class="form-group">
                      <label>Start Date</label>
                      <input
                        type="date"
                        name="startDate"
                        value="2024-07-13"
                        class="dataset1"
                        formControlName="startDate"
                        [min]="today"
                      />
                    </div>
                    <div class="form-group">
                      <label>End Date</label>
                      <input
                        type="date"
                        name="endDate"
                        value="2024-07-15"
                        class="dataset1"
                        formControlName="endDate"
                        [min]="today"
                      />
                    </div>
                  </div>

                  <div class="file-upload-btn">
                    <label>Add Image (2:1 ratio)</label>

                    <img
                      src="/assets/addevent/upload.svg"
                      alt=""
                      src="assets/tax/pin.svg"
                      alt="upload photo"
                      (click)="fileInput.click()"
                    />

                    <input
                      type="file"
                      #fileInput
                      style="display: none"
                      (change)="changePhoto($event, i)"
                      accept="image/*"
                    />
                  </div>

                  <div class="file-area">
                    <div *ngIf="slab.get('image')?.value" class="">
                      <img
                        [src]="slab.get('image')?.value"
                        alt="Uploaded Image"
                      />
                      <button
                        type="button"
                        class="remove-btn"
                        (click)="removeImageOfSlab(i)"
                      >
                        &#10006;
                      </button>
                    </div>
                  </div>

                  <div
                    class="variant-set"
                    *ngFor="
                      let variant of slab.get('variants')?.value;
                      let variantIndex = index
                    "
                  >
                    <div class="variant-details">
                      <span class="variant-name">{{ variant.name }}</span>
                      <span class="variant-price">₹ {{ variant.price }}</span>
                    </div>
                    <div class="variant-actions">
                      <label class="uk-switch">
                        <input
                          type="checkbox"
                          [checked]="variant.active"
                          (change)="changeStatusOfVariant(slab, variant)"
                        />
                        <div class="uk-switch-slider"></div>
                      </label>

                      <button
                        mat-icon-button
                        (click)="editVariant(i, variant, variantIndex)"
                      >
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button color="warn">
                        <mat-icon
                          ><img
                            src="/assets/addevent/delete.svg"
                            alt=""
                            (click)="
                              removaVariant(slab, i, variant, variantIndex)
                            "
                        /></mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
                <button class="Add-btn" (click)="openBottomSheet(i)">
                  add varient
                </button>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <button class="Add-btn" (click)="addSlab()">Add Slab</button>
          <div class="lower-btn fix-below" >
            <lib-cancel-btn
              [btnName]="'Cancel'"
              (click)="cancel('itinerary')"
            ></lib-cancel-btn>
            <lib-save-btn
              [btnName]="'Next'"
              (click)="nextpannel('back')"
            ></lib-save-btn>
          </div>
        </ng-container>
      </form>
    </div>
  </div>
 

  <!--city form pannel  -->
  <div *ngIf="'city' == pannel ? true : false">
    <div class="uk-search uk-search-default search-box">
      <input
        class="uk-search-input"
        type="search"
        placeholder="Search for a city"
        [(ngModel)]="searchQuery"
        (input)="filterCities()"
        name="search"
        aria-label="Search"
      />
      <button class="uk-search-icon-flip" uk-search-icon></button>

      <ul *ngIf="filteredCities.length > 0" class="city-results">
        <li *ngFor="let city of filteredCities" (click)="selectCity(city)">
          {{ city.city }}, {{ city.state }}
        </li>
      </ul>
    </div>
    <div>
      <div class="selected-cities">
        <div *ngFor="let city of CitiesOfEvent" class="selected-city">
          <div class="card card_bg_gradient">
            <span class="card-title">
              <p class="city header_text_color">{{ city.city }}</p>
              <p class="state description_text">- {{ city.state }}</p></span
            >
            <img
              src="assets/tax/delete.svg"
              (click)="removeCity(city)"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <div class="lower-btn fix-below">
      <lib-cancel-btn
        [btnName]="'Cancel'"
        (click)="cancel('slab')"
      ></lib-cancel-btn>
      <lib-save-btn [btnName]="'Next'" (click)="cancel('back')"></lib-save-btn>
    </div>
  </div>
</section>
