section{
  padding-top: 70px;
  width: 100vw;
  padding-bottom: 70px;
  width: 90vw;
  margin: auto;
}
.heading {
  text-align: center;
  color: var(--header-text-color, #464e5f);

  /* page title */
  font-family: "Krona One";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.scroll {
  // overflow-x: auto;
  // -ms-overflow-style: none; /* IE and Edge */
  // scrollbar-width: none; /* Firefox */
  margin-bottom: 15px;
}
.scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.tabs {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  
}
.tab {
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.tab.active{
  background: var(
    --active-tab-gradient,
    linear-gradient(
      90deg,
      #464e5f 0.28%,
      rgba(70, 78, 95, 0.8) 47.84%,
      rgba(70, 78, 95, 0.4) 99.72%
    )
  );
  color: white;
}

.form1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  color: var(--description-text, #808080);

  /* input title text */
  font-family: Nunito;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.event-name {
  border-radius: 12px;
  border: 1px solid var(--input-box-border-gradient, rgba(170, 170, 170, 0.3));
  background: var(
    --input-box-bg-gradient,
    linear-gradient(
      99deg,
      rgba(225, 225, 225, 0.3) 12.07%,
      rgba(225, 225, 225, 0.2) 48.35%,
      rgba(225, 225, 225, 0.2) 87.93%
    )
  );
  width: 320px;
  height: 40px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.dataset1 {
  width: 150px;
  height: 40px;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid var(--input-box-border-gradient, rgba(170, 170, 170, 0.3));
  background: var(
    --input-box-bg-gradient,
    linear-gradient(
      99deg,
      rgba(225, 225, 225, 0.3) 12.07%,
      rgba(225, 225, 225, 0.2) 48.35%,
      rgba(225, 225, 225, 0.2) 87.93%
    )
  );
}

textarea {
  width: 320px;
  height: 120px;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid var(--input-box-border-gradient, rgba(170, 170, 170, 0.3));
  background: var(
    --input-box-bg-gradient,
    linear-gradient(
      99deg,
      rgba(225, 225, 225, 0.3) 12.07%,
      rgba(225, 225, 225, 0.2) 48.35%,
      rgba(225, 225, 225, 0.2) 87.93%
    )
  );
}
.dateset {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header {
  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--input-box-border-gradient, rgba(170, 170, 170, 0.3));
  background: var(
    --input-box-bg-gradient,
    linear-gradient(
      99deg,
      rgba(225, 225, 225, 0.3) 12.07%,
      rgba(225, 225, 225, 0.2) 48.35%,
      rgba(225, 225, 225, 0.2) 87.93%
    )
  );
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 320px;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.header label {
  font-weight: bold;
}

.images-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;

  justify-content: center;
  align-items: center;
}
.single-images-grid{
  .image-item {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 150px;
  }
  
  .image-item img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
   
  }
}

.image-item {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 80px;
}

.image-item img {
  border-radius: 10px;
  width: 150px;
  height: 80px;
}

.remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.cancel-button {
  width: 137.5px;
  height: 60px;
  padding: 20px;
  border: none;
  border-radius: 30px;
  background: var(
    --secondary-botton-gradient,
    linear-gradient(
      91deg,
      rgba(224, 224, 224, 0.3) 0.53%,
      rgba(224, 224, 224, 0.2) 47.85%,
      rgba(224, 224, 224, 0.1) 99.47%
    )
  );
  color: rgba(47, 21, 170, 1);
  margin-right: 10px;
}
.next-button {
  width: 137.5px;
  border: none;
  height: 60px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(
    --primary-botton-gradient,
    linear-gradient(
      90deg,
      #2f15aa 0.28%,
      rgba(47, 21, 170, 0.8) 47.84%,
      rgba(47, 21, 170, 0.4) 99.72%
    )
  );
  margin-left: 10px;
  color: white;
}

::ng-deep mat-bottom-sheet-container {
  border-radius: 20px 20px 0px 0px;
}
//intinery pannel css start
.activity-form {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}
.form-group1 {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  textarea{
    width: 100%;
  }
}
.activity-name {
  border-radius: 12px;
  border: 1px solid var(--input-box-border-gradient, rgba(170, 170, 170, 0.3));
  background: var(
    --input-box-bg-gradient,
    linear-gradient(
      99deg,
      rgba(225, 225, 225, 0.3) 12.07%,
      rgba(225, 225, 225, 0.2) 48.35%,
      rgba(225, 225, 225, 0.2) 87.93%
    )
  );
  width: 100%;
  height: 40px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.dateset2 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.dataset3 {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid var(--input-box-border-gradient, rgba(170, 170, 170, 0.3));
  background: var(
    --input-box-bg-gradient,
    linear-gradient(
      99deg,
      rgba(225, 225, 225, 0.3) 12.07%,
      rgba(225, 225, 225, 0.2) 48.35%,
      rgba(225, 225, 225, 0.2) 87.93%
    )
  );
}
.delete {
  margin-top: 10px;
  margin-bottom: 20px;

  .button {
    border: none;
    float: right;
    color: rgba(252, 55, 12, 1);
    border-radius: 30px;
    img {
      margin-left: 10px;
    }
  }
}
lib-cancel-btn,
lib-save-btn {
  width: 40%;
}
.Add-btn {
  width: 100%;
  border: none;
  border-radius: 30px;
  color: rgba(47, 21, 170, 1);
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
//slab pannel csss

.accordian-set {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.variant-set {
  display: flex;
    width: 100%;
    height: 71px;
    justify-content: space-between;
    border-radius: 10px;
    padding-left: 20px;
    background: var(--input-box-bg-gradient, linear-gradient(99deg, rgba(225, 225, 225, 0.3) 12.07%, rgba(225, 225, 225, 0.2) 48.35%, rgba(225, 225, 225, 0.2) 87.93%));
  .variant-details {
    display: flex;
    flex-direction: column;
    .variant-name {
      margin-top: 10px;
    }
    .variant-price {
      color: rgba(72, 188, 31, 1);
    }
  }
  .variant-actions {
    margin-top: 20px;
    align-items: end;
  }
}

.uk-search {
  position: relative;

  .city-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background: #f0f0f0;
      }
    }
  }
}

.search-box{
  width: calc(100% - 40px);
margin:auto 20px 20px 20px;
border-radius: 12px ;
}
.uk-search-default:has(.uk-search-icon-flip) .uk-search-input {
  border-radius: 12px;
}

.card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  margin:auto 20px 10px 20px;
  border-radius: 10px ;
  padding: 10px;
  p{
    padding: 0px;
    margin: 0px;
    
  }
  .card-title{
    display: flex;
    width: 80%;

    .city{
      font-family: 'Jura',sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }
    .state{
      font-family: 'Nunito',sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }

}


//slab
.slab-form{
label {
  margin-left: 5px;
  font-family: "Nunito", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.field {
  width: 100%;
  margin-bottom: 6px;
}
input,textarea{
  border: 0.5px solid rgb(166, 166, 166);
  border-radius: 12px;
  width: 100%;
  padding: 1px 6px;
}

option {
  width: 70%;
}
input:focus,textarea:focus
{
  outline: none;
}
.file-upload-btn{
  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--input-box-border-gradient, rgba(170, 170, 170, 0.3));
  background: var(
    --input-box-bg-gradient,
    linear-gradient(
      99deg,
      rgba(225, 225, 225, 0.3) 12.07%,
      rgba(225, 225, 225, 0.2) 48.35%,
      rgba(225, 225, 225, 0.2) 87.93%
    )
  );
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}
.file-area{
  position: relative;

  img{

  width: 100%;
  height: 100px;
  border-radius: 10px;
border: 1px dashed #000;
  }
  .remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
}
}
mat-accordion {
  width: 100%;
  box-sizing: border-box;
}
::ng-deep .mat-expansion-panel {
  font-family: "Jura", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
  .mat-expansion-indicator svg {
    width: 24px;
    height: 24px;
    margin: 0px;
  }
}

.lower-btn{
  display: flex;
    width: 90vw;
    justify-content: space-evenly;
}
.icon{
  display: flex;
  align-items: center;
  gap: 10px;
}