<section class="editmember">
<h3>Edit Member</h3>
  <div class=" edit">
    <form [formGroup]="editMemberForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="Name">
      </div>
      <div class="form-group">
        <label for="aadhaar">Aadhaar</label>
        <input id="aadhaar" type="text" formControlName="Aadharnumber">
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <!-- <input id="gender" type="text" formControlName="gender"> -->
        <select   class="member" formControlName="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
          </select>
      </div>
      <div class="form-group">
        <label for="contact">Contact</label>
        <input id="contact" type="text" formControlName="mobileNo">
      </div>
      <div class="twinbutton">
        <lib-cancel-btn [btnName]="'Cancel'" (click)="cancel()"></lib-cancel-btn>
        <lib-save-btn [btnName]="'Save'" (click)="save()"></lib-save-btn>
      </div>
    </form>
  </div>
</section>
