section{
h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
 
  
    label {
      display: block;
      margin-bottom: 5px;
    }
  
    input {
      width: 100%;
      padding: 8px;
      border-radius: 15px;
      border: none;
    }
  
    .error {
      color: red;
      font-size: 12px;
      margin-top: 5px;
    }
  }
  
 
  lib-cancel-btn,
  lib-save-btn {
    width: 35%;
  }
  .member
 {
    border-radius: 12px;
    border: 1px solid var(--input-box-border-gradient, rgba(170, 170, 170, 0.30));
    width: 380px;
    height: 40px;
     padding: 10px;
    justify-content: space-between;
    align-items: center;
  
}
}

::ng-deep mat-bottom-sheet-container {
  border-radius: 20px 20px 0px 0px ;
}