.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  /* padding: 0px 8px; */
  position: fixed;
  width: 92vw;
  z-index: 100;
  background: white;
  border-bottom: 1px solid #8d8c8c;
  height: 50px;
  margin-left: 4vw;



  .back-with-title {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  p {
    font-family: "Krona One",sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
}
