<section>
    <div *ngFor="let catalogue of catalogueList" class="card bg_color_gradient ">
      <div class="header_text_color word-wrap">{{ catalogue.name }}
      </div>
      <div class="items">
          <span class="size custom-slide-toggle"><mat-slide-toggle  [checked]="catalogue.active==true?true:false" (change)="updatedStatus(catalogue)"></mat-slide-toggle> </span>
          <span><img src="assets/tax/edit.svg"  alt=""></span>
          <span><img src="assets/tax/delete.svg"  alt=""></span>
      </div>
    </div>
    <app-add-button   (click)="addCatalogue()"></app-add-button>
  </section>