<section>
  <p class="header_text_color" >{{ data ? 'Edit Tax' : 'Add Tax' }}</p>
  <div class= 'logo'>  <img src="assets/tax/addTax.svg" alt="" />
  </div>
  <form [formGroup]="taxForm">
    <div class="field">
      <label class="description_text">Tax Name</label>
      <br />
      <input
        type="text"
        formControlName="taxName"
        class="input_box_bg_gradient header_text_color"
      />
    </div>

    <div class="field">
      <label class="description_text">Tax Type</label>
      <br />
      <select formControlName="taxType" class="input_box_bg_gradient header_text_color">
        <option value="Percentage">Percentage</option>
        <option value="Flat">Flat</option>
      </select>
    </div>

    <div class="field">
      <label class="description_text">Tax Rate</label>
      <br />
      <input
        type="text"
        formControlName="taxRate"
        class="input_box_bg_gradient header_text_color"
      />
    </div>
  </form>
  <div class="twin-btn">
    <lib-cancel-btn (click)="cancel()"></lib-cancel-btn>
    <lib-save-btn (click)="saveTax()"></lib-save-btn>
  </div>
</section>
