.details{
    padding: 20px;
    .booking{
        background: linear-gradient(99.41deg, rgba(225, 225, 225, 0.3) 12.07%, rgba(225, 225, 225, 0.2) 48.35%, rgba(225, 225, 225, 0.2) 87.93%);
        margin-top: 15%;
        border-radius: 15px;
        .heading{
            font-weight: 500;
            margin: 5px;
            padding: 10px;
        }
        .event{
            display: flex;
            justify-content: space-between;
            padding: 2px 10px 0px 10px;
            .field{
                color:  #7E8083;
                font-size: 16px;
                font-weight: 500;

            }
            .header_text_color{
                font-size: 18px;
                font-weight: 500;
            }
          
        }
        .eventpayment{
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            padding: 0px 10px 20px 10px;
            .field{
                font-size: 22px;

            }
         
            .text-red {
              color: red;
              font-size: 22px;
          }
          
          .text-green {
              color: 
              #48BC1F;
              font-size: 22px;
          }
          .text-black {
            color: 
            black;
            font-size: 22px;
        }
        }
       
       
    }
    

    .scroll {
      
      
        background: linear-gradient(99.41deg, rgba(225, 225, 225, 0.3) 12.07%, rgba(225, 225, 225, 0.2) 48.35%, rgba(225, 225, 225, 0.2) 87.93%);
        border-radius: 15px;
        padding: 10px;
        margin-top: 20px;
      
      }
      .memberheading{
      p{
        font-weight: 500;
        margin: 5px;
      }
     
      }
      .tabs {
        margin-top: 15px;
        display: flex;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        .tab {
          padding: 5px;
          border-radius: 10px;
          cursor: pointer;
          justify-content: center;
          align-items: center;
        }
        .tab.active, .tab:hover {
          background: var(--active-tab-gradient, linear-gradient(90deg, #464E5F 0.28%, rgba(70, 78, 95, 0.80) 47.84%, rgba(70, 78, 95, 0.40) 99.72%));
          color: white;
        }
      }
    
     
      .content {
        margin-top: 8%;
        padding: 20px;
        background: linear-gradient(99.41deg, rgba(225, 225, 225, 0.3) 12.07%, rgba(225, 225, 225, 0.2) 48.35%, rgba(225, 225, 225, 0.2) 87.93%);
        border: 1px solid;
        border-image-source: linear-gradient(99.41deg, rgba(170, 170, 170, 0.3) 12.07%, rgba(170, 170, 170, 0.2) 48.35%, rgba(170, 170, 170, 0.2) 87.93%);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-left: 0.4rem;
        margin-right: 0.4rem;
        .card2{
            display: flex;
            justify-content: space-between;
            .paragraph_text{
              color:  #7E8083;
              font-size: 16px;
              font-weight: 500;
    
          }
            .header_text_color{
              font-size: 18px;
              font-weight: 400;
          }
          }
    
        }
      .delete{
        color: white;
        background: linear-gradient(91.49deg, #E90D35 1.27%, rgba(233, 13, 53, 0.8) 47.72%, rgba(233, 13, 53, 0.4) 98.38%);
        border: none;
        height: 60px;
        width: 166px;
        border-radius: 30px;
        margin-left: 25%;
      
      }
 
  }

