<div class="header">
  <p class="krona-one-regular header_text_color">Hi, {{ name }}</p>
  <nav>
    <span>
      <img src="assets/header/bell_icon.svg" alt="" />
    </span>

    <a href="#offcanvas-usage" uk-toggle="target: #offcanvas-flip"
      ><img src="assets/header/menu.svg" alt="" />
    </a>
  </nav>
</div>

<div id="offcanvas-flip" white-bg uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar white-bg">
    <img src="assets/eventList_image/bg_image.svg">
    <h3>Admin name</h3>
  
    <button (click)="navigationUandP()">User and Permission</button><br>
    <button (click)="navigation_Coupon()">Coupon</button><br>
    <button (click)="navigation_Survey()">Survey</button><br>
    <button (click)="openLogout()">Logout</button>
  </div>
</div>
