.header {
  display: flex;
  justify-content: space-between;


  font-size: 18px;
  line-height: normal;
  padding: 20px;
  nav{
    display: flex;
    gap: 20px;
  }

}
.white-bg{
    background-color: white;
}
