<div class="header">

  <p class="krona-one-regular header_text_color">Hi, {{ name }}</p>
  <nav>
    <span>
      <img src="assets/header/bell_icon.svg" alt="" />
    </span>

   

    <a href="#offcanvas-usage"   uk-toggle="target: #offcanvas-flip"

      ><img src="assets/header/menu.svg" alt="" />
    </a>
  </nav>
</div>



<div id="offcanvas-flip"  white-bg uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar white-bg">

    <h3>Title</h3>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
  </div>
</div>
