.header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: normal;
  padding: 0px;
  padding-bottom: 0px;
  width: 92vw;
  padding-top: 20px;
  margin-left: 4vw;
  position: fixed;
  z-index: 100;
  background: white;
  border-bottom: 1px solid  #8d8c8c;
  
  nav{
    display: flex;
    gap: 20px;
  }

}

.white-bg{
    background-color: rgb(161, 161, 161);
    img{
      border-radius: 50%;
      width: 150px;
    }
  
}
