<app-header-with-back [pageTitle]="'kashi '"></app-header-with-back>
<div class="container">
  <input type="text" class="search-bar" placeholder="Search city to add" />

  <div class="grid">
    <div class="card" *ngFor="let slab of slabList">
      <div class="image-container">
        <img [src]="slab.image" alt="{{slab.name}}" class="card-image" />
        <div class="overlay">
          <p class="card-title">{{slab.name}}</p>
          <button class="book-now-btn" (click)="movetovarient()">Book Now</button>
        </div>
      </div>
    </div>
  </div>
</div>

  
