<app-header-with-back [pageTitle]="'kashi '"></app-header-with-back>

  <div class="container">
    <input type="text" class="search-bar" placeholder="Search city to add" />
  
    <div class="grid">
      <div class="card" *ngFor="let item of items">
        <div class="image-container">
          <img [src]="item.image" alt="{{item.title}}" class="card-image" />
          <div class="overlay">
            <p class="card-title">{{item.title}}</p>
            <button class="book-now-btn" (click)="movetovarient()">Book Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  
