<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jaitra.FYI" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FYI</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Splash Screen Preferences -->
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashScreenBackgroundColor" value="#FFFFFF" />

    <platform name="android">
        <!-- Replacing deprecated splash tags with AndroidWindowSplashScreenAnimatedIcon -->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash.png" />
        <icon src="res/screen/android/icon-only.png" width="57" height="57" density="mdpi" />
    </platform>

</widget>
