<section>
    <div>
      <img src="/assets/login/logo_logout.png">
    </div>
    <div class="text">
        <p class="access">No Access</p>
      <p>Ask support to add your account</p>
    </div>
   <div class="button">
        <div>
            <button class="logout-button">
                <img class="logo" src="/assets/login/icon_logout.svg">
                <span> Logout </span>
            </button>
        </div>
        <div>
            <button class="refresh-button">
                <img class="logo" src="/assets/login/icon_refresh.svg">
            </button>
        </div> 
    </div>
   
  </section>
  
