section{
    height: 100%;
    // width: 100vw;
    background-image: url("/assets/login/logout_bg.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.text{
    padding: 0 4%;
    .access{
        text-align: center;
        text-justify: inter-word;
        margin-top: 10vh;
        color: red;
        font-family: "Jura", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 24px;
    }
   
    p{
       
        text-align: center;
        text-justify: inter-word;
        margin-top: 10vh;
        color: white;
        font-family: "Nunito Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight:300;
        font-style: normal;
        font-variation-settings:
          "wdth" 100,
          "YTLC" 500;
        font-size: 16px;
    }
    
}
.button{
    display: flex;
    align-items: center;
  
    
   
.logout-button{
    background: linear-gradient(90.61deg, rgba(224, 224, 224, 0.3) 0.53%, rgba(224, 224, 224, 0.2) 47.85%, rgba(224, 224, 224, 0.1) 99.47%);
    display: flex;
  
    align-items: center;    
    width: 200px;
    height: 50px;
    border-radius: 20px;
    position: relative;
    border: none;
    margin-bottom: 20px;
    margin-right:60px;
    span{
        color: #F0F0F0;
        margin-left: 2.5rem;
       
    }
   .logo{
    margin-left: 1rem;
   }
}
.refresh-button{
   
    background: linear-gradient(90.32deg, #2F15AA 0.28%, rgba(47, 21, 170, 0.8) 47.84%, rgba(47, 21, 170, 0.4) 99.72%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    margin-bottom: 20px;
    img{
    left: 10px;
    }
   
}
}
