<section>

    <p class="section_title header_text_color  ">Services</p>
    <div class="hospital">
        <img src="/assets/other_services/hospital.svg">
        <span class="section_title" >Hospitality Packages</span>
    </div>
    <div class="hospital">
        <img src="/assets/other_services/hospital.svg">
        <span class="section_title" >Hospitality Packages</span>
    </div>
    <div class="hospital">
        <img src="/assets/other_services/hospital.svg">
        <span class="section_title" >Hospitality Packages</span>
    </div>
    <div class="hospital">
        <img src="/assets/other_services/hospital.svg">
        <span class="section_title" >Hospitality Packages</span>
    </div>
    <div class="hospital">
        <img src="/assets/other_services/hospital.svg">
        <span class="section_title" >Hospitality Packages</span>
    </div>
</section>