<section>

    <p class="section_title header_text_color  ">Services</p>
    <div class="hospital"  (click)="openInNewTab('https://www.varanasicab.com/')">
        <img src="/assets/other_services/car.svg">
        <span>Cab booking</span>
    </div>
    <div class="hospital" (click)="openInNewTab('https://www.varanasicab.com/')">
        <img src="/assets/other_services/airport.svg" >
        <span class="section_title" >Airport Pick and Drop</span>
    </div>
    <div class="hospital" (click)="openInNewTab('https://www.travelraasta.in/packages')">
        <img src="/assets/other_services/customersupport.svg">
        <span class="section_title" >Tour Guide </span>
    </div>
    <div class="hospital">
        <img src="/assets/other_services/tour.svg" (click)="openInNewTab('https://www.varanasicab.com/')">
        <span class="section_title" >Customer Support</span>
    </div>
 
</section>