

<div class="card" *ngFor="let event of events">
    <div class="row1">
        <span class="header_text_color section_title">{{ event.name }}</span>
        <img src="/assets/eventList_image/icon2.svg">
    </div>
    <div class="container" id="bgimage">
        <div class="row2">
            <img src="/assets/eventList_image/icon1.svg">
            <p class="white button_text">{{ event.booked }} / {{ event.capacity }}</p>
        </div>
        <div class="row3">
            <div>
                <p class="white paragraph_text">{{ event.status }}</p>
            </div>
            <div class="button">
                <img (click)="viewEvent(event)" src="/assets/eventList_image/toggle_button.svg">
                <img (click)="editEvent(event)" src="/assets/eventList_image/editbutton.svg">
                <img (click)="deleteEvent(event)" src="/assets/eventList_image/delete_button.svg">
            </div>
        </div>
    </div>
</div>
