
section {
  padding-bottom: 70px;
}

.card {
  justify-content: center;
  background: linear-gradient(
    99.41deg,
    rgba(202, 202, 202, 0.3) 12.07%,
    rgba(202, 202, 202, 0.2) 48.35%,
    rgba(202, 202, 202, 0.2) 87.93%
  );
  width: 90%;
  margin-left: 1rem;
  margin-top: 10px;
  border-radius: 10px;
}

.row1 {
  display: flex;
  span {
    margin-left: 1rem;
    margin-top: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  img {
    justify-content: end;
  }
}

.container {
  position: relative; /* Add relative positioning */
  margin-left: 1.1rem;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2px 16px;
  opacity: 0.8;
  width: 90%;
  border-radius: 10px;
  margin-top: 0.5rem;
}

.overlay {
  position: absolute; /* Add absolute positioning */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ); /* Adjust gradient as needed */
  border-radius: 10px;
  z-index: 1; /* Ensure overlay is above background image */
}

.row2,
.row3 {
  position: relative; /* Ensure content is above the overlay */
  z-index: 2;
}

.row2 {
  display: flex;
  align-items: center;
  p {
    font-size: 30px;
  }
  img {
    margin-top: 0.5rem;
    height: 13%;
    width: 13%;
  }
}

.row3 {
  display: flex;
  justify-content: space-between;
  p {
    font-size: 25px;
    font-weight: 300;
  }
  .button {
    img {
      margin: 5px;
      height: 30px;
      width: 30px;
    }
  }
}

.bgcolor {
  padding-bottom: 10px;
}

app-add-button {
  position: fixed;
  bottom: 118px;
  right: 55px;
}

