section {
  padding-bottom: 70px;
}
.card {
  justify-content: center;
  background: linear-gradient(
    99.41deg,
    rgba(202, 202, 202, 0.3) 12.07%,
    rgba(202, 202, 202, 0.2) 48.35%,
    rgba(202, 202, 202, 0.2) 87.93%
  );
  width: 90%;
  margin-left: 1rem;
  margin-top: 10px;
  border-radius: 10px;
  .row1 {
    display: flex;
    span {
      margin-left: 1rem;
      margin-top: 0.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    img{
      justify-content: end;
    }
  }
  .container {
    margin-left: 1.1rem;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2px 16px;
    opacity: 0.8;
    width: 90%;
    border-radius: 10px;
    margin-top: 0.5rem;
    .row2 {
      display: flex;
      align-items: center;
  
      p {
        font-size: 30px;
      }
      img {
        margin-top: 0.5rem;
        height: 13%;
        width: 13%;
      }
    }
    .row3 {
      display: flex;
      justify-content: space-between;
    
      p {
        font-size: 25px;
        font-weight: 300;
      }
      .button {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        img {
          height: 50%;
          width: 50%;
        }
        
      }
    }
  }
}

.bgcolor {
  padding-bottom: 10px;
}

app-add-button {
  position: fixed;
  bottom: 110px;
  right: 55px;
}

