
<app-header-with-menu ></app-header-with-menu>
<section>
    
    <div class="profileimage">
    <img  src="assets/account/profile.svg">
  </div>
  <div class="profilename">
    <h3 class="section_title">Anuj kesharwani</h3>
  </div>
 <div class="buttons">
  
    <button class="white section_title" (click)="navigate('profile')"><img src="assets/account/editprofile.svg" ><span>Edit Profile</span></button><br>
    <!-- <button class="white section_title"><img src="assets/account/location.svg">Add Address</button><br> -->
    <button class="white section_title" (click)="openInNewTab('https://kashisummit.com/')" ><img src="assets/account/aboutus.svg">About Us</button><br> 
    <button class="white section_title"(click)="movetoContactUs()" ><img src="assets/account/contactus.svg">Contact Us</button>
    <button class="white section_title" (click)="logout()"><img src="assets/account/logout.svg" >Logout</button>
</div>
    <div class="footer">
      <img src="assets/account/Shreeva-logo.svg">
      <span >Powered By Shreeva</span>
    </div>

</section>
