<app-header-with-back [pageTitle]="'Profile'"></app-header-with-back>

<section>
  <form [formGroup]="userForm">
    <div class="flex_space_between imgUpload">
      <div>
        <input
          type="file"
          #fileInput
          style="display: none"
          (change)="changePhoto($event)"
          accept="image/*"
        />
        <button (click)="fileInput.click()">
          <img src="" class="upload_picture_icon" alt="" />
          Upload Photo
        </button>
        <!-- <p *ngIf="isImgSizeValid">*Image size should be</p>
        <p *ngIf="isImgSizeValid">less than 500kb</p> -->
      </div>
      <!-- <div>
        <button (click)="removePhoto()" class="remove_btn">
          <img src="" class="remove_picture_icon" alt="" />
          Remove
        </button>
      </div> -->
      <div>
        <img
          class="profile_section"
          [src]="this.userForm.value.photoURL"
          alt="Profile Photo"
        />
      </div>
    </div>

    <input type="text" placeholder="name" formControlName="name" />
    <div class="field">
      <label class="description_text">Gender</label>
      <br />
      <select
        class="input_box_bg_gradient header_text_color"
        formControlName="gender"
      >
        <option value="male" >Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input
        type="date"
        id="startDate"
        name="startDate"
        value="2024-07-13"
        formControlName="dob"
      />
    </div>
  </form>
  <button (click)="cancel()">Cancel</button>
  <button (click)="submit()">Submit</button>
</section>
