<app-header-with-back [pageTitle]="'Your Profile'"></app-header-with-back>

<section>
  <div>
    <img
      class="profile_section"
      [src]="this.userForm.value.photoURL"
      alt="Profile Photo"
    />
  </div>
  <div class="upload_picture_btn">
    <div>
      <input
        type="file"
        #fileInput
        style="display: none"
        (change)="changePhoto($event)"
        accept="image/*"
      />
      <img src="assets/profile/camera.svg" alt="" (click)="fileInput.click()" />
    </div>
    <div>
      <input
        type="file"
        #fileInput
        style="display: none"
        (change)="changePhoto($event)"
        accept="image/*"
      />
      <img
        src="assets/profile/upload_img_icon.svg"
        alt=""
        (click)="fileInput.click()"
      />
    </div>
  </div>

  <div class="login-secton">
    <form [formGroup]="userForm">
      <div class="field">
        <label class="description_text">Name</label>
        <br />
        <input
          type="text"
          class="input_box_bg_gradient header_text_color"
          placeholder="Enter Your Name"
          formControlName="name"
        />
      </div>

      <div class="field">
        <label class="description_text">Gender</label>
        <br />
        <select
          class="input_box_bg_gradient header_text_color " 
          formControlName="gender"
        >
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="field">
        <label class="description_text">DOB</label>

        <div class="date-picker-wrapper">
          <input
            class="input_box_bg_gradient header_text_color custom-date-input"
            type="date"
            id="startDate"
            name="startDate"
            formControlName="dob"
            min="1940-01-01"
            max="2015-12-31"
          />
          <div class="custom-calendar-icon" (click)="openDatePicker()"></div>
        </div>
      </div>
    </form>
    <lib-save-btn (click)="submit()" [btnName]="'Next'"></lib-save-btn>
  </div>
</section>
