section{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 10px 0px 0px;

}

lib-cancel-btn,lib-delete-btn{
    width: 35%;
}


::ng-deep mat-bottom-sheet-container {
    border-radius: 20px 20px 0px 0px ;
  }