<app-header-with-back [pageTitle]="'Variants'"></app-header-with-back>
<section>
  <!-- <div class="event-slider">
    <div class="slider">
      <div *ngFor="let event of eventimage" class="slide">
        <img [src]="event" [alt]="event.title">
      </div>
    </div>
  </div> -->
  <div class="event-slider">
    <div class="slider" [ngStyle]="{'transform': 'translateX(-' + currentSlide * 100 + '%)'}">
      <div *ngFor="let event of eventimage; let i = index" class="slide">
        <img [src]="event" [alt]="event.title">
      </div>
    </div>
    <div class="dots">
      <span *ngFor="let event of eventimage; let i = index" [class.active]="i === currentSlide" (click)="setCurrentSlide(i)"></span>
    </div>
  </div>
  
  <div class="varient">
    <div *ngFor="let item of this.EventService.variantList()[this.slabId]; let i = index" class="rotarian">
      <div>
        <span class="section_title header_text_color label">{{ item.name }}</span><br>
        <span class="section_title price">₹{{ item.price }}</span>
      </div>
      <div class="threebutton" *ngIf="selectedButtonIndex === i">
        <button class="quantity-control-decrement" (click)="decreaseQuantity(i)">-</button>
        <span>{{ quantities[i] }}</span>
        <button class="quantity-control-increment" (click)="increaseQuantity(i)">+</button>
        <button class="remove-selection" (click)="removeSelection()"><img src="assets/homepage/Delete2.svg" ></button>
      </div>
      <button *ngIf="selectedButtonIndex !== i" class="book-now" [disabled]="selectedButtonIndex !== null" (click)="memberform(i,item)">Book Now</button>
    </div>
  </div>
  <div class="scroll">
    <div class="tabs">
      <div class="tab" [class.active]="selectedTab === 'description'" (click)="selectTab('description')">Description</div>
      <div class="tab" [class.active]="selectedTab === 'itinerary'" (click)="selectTab('itinerary')">Itinerary</div>
    </div>
    <div class="content">
      <div *ngIf="selectedTab === 'description'">{{ this.slabDetail.description }}</div>
      <div *ngIf="selectedTab === 'itinerary'">
   
        <div *ngFor="let daySchedule of schedule" class="schedule-day">
          <span class="paragraph_text">{{ daySchedule.day }}</span>
          <div *ngFor="let event of daySchedule.events" class="schedule-event">
            <div class="dot">
              <img src="assets/bookinghistory/Ellipse_396.svg">
            </div>
            <div class="activity">
              <span>{{ event.time }}</span><br>
              <span>{{ event.description }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button  *ngIf="selectedButtonIndex !== null" class="next-button" (click)="goToNextPage()">Next</button>
</section>


