.scroll{
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;  
    margin-bottom: 5px;
    padding-top:70px ;
    margin-top: 2%;
}
.scroll::-webkit-scrollbar {
    display: none; 
}
.tabs {
    
     display: flex;
     justify-content: center;
     justify-content: space-between;
     margin-left: 15px;
     .section_title{
        font-size: 12px;
     }
}
.tab {
 padding: 10px 30px 10px 30px ;
 border-radius: 10px;
 cursor: pointer;
//  justify-content: center;
// align-items: center;
width: 150;
}
.tab.active, .tab:hover {
    
    background: var(--active-tab-gradient, linear-gradient(90deg, #464E5F 0.28%, rgba(70, 78, 95, 0.80) 47.84%, rgba(70, 78, 95, 0.40) 99.72%));
 color: white;
}


.memberdetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.detail{
    margin-top: 50px;
}
.member-form {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    .paragraph_text{
        color: #808080;

    }
    
}
.member
 {
    border-radius: 12px;
    border: 1px solid var(--input-box-border-gradient, rgba(170, 170, 170, 0.30));
    background: var(--input-box-bg-gradient, linear-gradient(99deg, rgba(225, 225, 225, 0.30) 12.07%, rgba(225, 225, 225, 0.20) 48.35%, rgba(225, 225, 225, 0.20) 87.93%));  
    width: 380px;
    height: 40px;
     padding: 10px;
    justify-content: space-between;
    align-items: center;
  
}

.header {
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(--input-box-border-gradient, rgba(170, 170, 170, 0.30));
    background: var(--input-box-bg-gradient, linear-gradient(99deg, rgba(225, 225, 225, 0.30) 12.07%, rgba(225, 225, 225, 0.20) 48.35%, rgba(225, 225, 225, 0.20) 87.93%));
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 380px;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    label{
        font-size: 14px;
        color:#464E5F;
    }
    position: relative;
  }
.submit-button{
    height: 60px;
    width: 137px;
    border-radius: 30px;
    background: linear-gradient(90.32deg, #2F15AA 0.28%, rgba(47, 21, 170, 0.8) 47.84%, rgba(47, 21, 170, 0.4) 99.72%);
    border: none;
    color: white;
    margin-top: 40px;

}


.profile {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    top: 15px;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#filepath {
    display: none;
}

.upload-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #FFFFFF;

    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.validation-errors {
    font-size: small;
    color: var(--ion-color-danger, #f1453d);
}

.success-message {
    margin-top: 10px;
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
